@import './modern-normalize.css';
@import '/styles/HallOfFame.css';
@import './selectmode.css';
@import './wp-progressSword.css';
@import './HallOfFame.css';
@import './GameButtons.css';
@import './Modal.css';

@import './menu.css';
@import './questions.css';
@import './images.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-image: url(../static/assets/ui/QuizBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.quiz-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 30fr 70fr;
  grid-template-rows: minmax(auto, 25vh) 60fr 15fr;
  grid-gap: 0.5em;
  align-content: center;
  text-align: center;
}

.quiz-progress {
  grid-column: span 2;
}

/* .quiz-game > div:not([data-active-view]) {
  display: none;
}*/

/* .quiz-container > div {
  border: 2px solid #bbb;
  border-radius: 10px;
}*/

.quiz-logo {
  align-items: center;
  justify-items: center;
}

.quiz-logo > img {
  max-width: 100%;
  max-height: 100%;
}

