.end-result-modal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

.end-modal-content {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fefefe;
    padding: 3rem;
    width: 60%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25), 4px 4px 40px rgba(255, 0, 0, .9);
    border-radius: 16px;
}

.end-modal-content h2 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
}

.end-modal-content .end-sub-title {
    font-size: 1.5rem;
    text-align: center;
}

#end-result-p {
    text-align: center;
}

.end-hall-of-fame {
    display: flex;
    flex-direction: column;
    align-items: end;
}

div.end-yoda-answers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.end-yoda {
    height: 20rem;
    align-self: center;
    object-fit: cover;
}


.end-answers {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    align-self: flex-end;
}

.end-answers-header {
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    width: 100%;
}

.end-answers-header {
    display: grid;
    padding: 0 1rem;
    align-items: center;
    font-weight: 600;
    border-bottom: 1px solid #c4c4c4;
}

#end-answer-row {
    height: 30px;
    text-align: center;
    padding-left: 1rem;
    width: 100%;
    align-items: center;
    display: none;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

#end-answers-table {
    width: 100%;
    height: 20rem;
    overflow-y: scroll;
    display: inline;
}

#hall-of-fame-save {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
}

form#hall-of-fame-save label {
    width: 25rem;
}

.end-player-name {
    width: 20rem;
    height: 4rem;
    left: 627px;
    top: 591px;
    border: 4px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}

.end-save-button {
    background: var(--shadow-color-red);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25), 0 4px 4px rgba(0, 0, 0, .25), 4px 4px 40px var(--shadow-color-red);
    border-radius: 16px;
    color: #fff;
    font-size: 2rem;
    flex-grow: 1;
    border: none;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: all 0.5s;
}

.end-save-button:hover{
    transform: scale(0.9);
    transition: 0.5s;
    background-color: red;
}

.end-save-button-container {
    text-align: center;
    margin-top: 2rem;
}

/* .end-answer-row {
    height: 5rem;
    background: #fff;
    border-radius: 16px;
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.end-yoda-answers {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

form#hall-of-fame-save {
    display: flex;
    align-items: center;
}

form#hall-of-fame-save p {
    font-size: 1.30rem;
    margin: 0;
    padding-left: 1rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.swquiz-answer-row div {
    display: grid;
    grid-template-columns: 6rem 1fr 1fr 1fr;
    width: 100%;
    padding: 0 1rem;
    align-items: center;
    height: 100%;
}

.swquiz-answer-row img {
    height: 100%;
    border-radius: 16px;
}

.swquiz-yoda-answers-table-wrapper {
    width: 100%;
}

#end-result-p{
    font-size: 30px;
    color: red;
    font-weight: 600;
}

div.end-answers-header p {
    text-align: center;
}

@media (max-width: 1230px) {
    div.end-yoda-answers {
        flex-wrap: wrap;
    }

    .end-answers {
        width: 100%;
    }

    div.end-modal-content {
        width: 70%;
        padding: 2.5rem;
    }
}

@media (max-width: 680px) {
    div.end-modal-content {
        width: 90%;
    }
}

@media (max-width: 780px) {
    div.end-modal-content {
        width: 85%;
        padding: 1rem;
    }
}

section.end-game {
    display: none;
}