/* Obrazek dotyczący pytania wyświetlany po lewej stronie */
.quiz-image {
  width: 20vw;
  height: 40vh;
}

#left-pic {
  width: 100%;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(199, 12, 12, 0.575),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
