/* Obrazek dotyczący pytania wyświetlany po lewej stronie */
.quiz-image {
  grid-row: 2;
  place-self: center;
}

.quiz-image.starships > img {
  max-width: 90%;
  max-height: auto;
}

.quiz-image.vehicles > img {
  max-width: 90%;
  max-height: auto;
}

.quiz-image.people > img {
  max-width: 65%;
  max-height: 70%;
}


#left-pic {
  width: 100%;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(199, 12, 12, 0.575),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}
