
.main-menu__wrapper {
    margin: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-menu__logo {
    height: 120px;
}

.logo-image {
    height: 100%;
    text-decoration: none;
}

.main-menu__logo p {
    color: rgb(243, 176, 52);
    text-shadow:  0px 0px 16px red;
    text-align: center;
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: 2px;
}

.main-menu__modes {
    list-style-type: none;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0,0,0,.25), 4px 4px 40px var(--shadow-color-red);
    border-radius: 23px;
    width: 60%;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem; 

}


.main-menu--option {
    cursor: pointer;
}
.main-menu--option:hover{
    color: red;
}

.main-menu--selected {
    color: white;
    text-shadow:
    0 0 5px var(--shadow-color-red),
    0 0 10px var(--shadow-color-red),
    0 0 20px var(--shadow-color-red),
    0 0 40px var(--shadow-color-red),
    0 0 80px var(--shadow-color-red),
    0 0 90px var(--shadow-color-red),
    0 0 100px var(--shadow-color-red),
    0 0 150px var(--shadow-color-red);
}

@media (max-width: 768px) {
    .main-menu__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-menu__modes {
        margin-top: 1rem;
        width: 100%;
        font-size: 1em;
    }

    .main-menu__logo {
        margin-bottom: 1rem;
    }
}