.quiz-menu {
  display: flex;
  justify-content: space-around;
  height: 40%;
  margin: auto 0px;
  background-color: white;
  border-radius: 2vh;
  box-shadow: 0vh 0vh 2vh 0.4vh red;
}

.quiz-menu > button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3vh;
  font-weight: 600;
  margin: 2vh;
}

.active {
  border-bottom: 5px solid rgba(255, 0, 0, 0.750)!important;
}