.quiz-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 80vh;
    width: 80vw;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    border-radius: 16px;

    padding: 1em;

    display: none;
}
.quiz-modal-user {
    display: grid;
    grid-template-columns: 30vh 1fr;
    align-items: center;
}
.quiz-modal-user > * {
    padding: 1em;
}
.quiz-modal-user-img > img {
    max-width: 100%;
}
.quiz-modal-user-data > * {
    margin-bottom: 1em;
    max-width: 100%;
}
.quiz-modal > button {
    background: rgba(255, 0, 0, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    color: #FFFFFF;
    padding: 0.5em 1em;
    cursor: pointer;
}