.box {
  padding: 2vh;
  background-color: white;
  border-radius: 2vh;
  margin: 6vh 4vh;
  font-size: 1.2rem;
}

#mode-title {
  box-shadow: 0px 0px 2vh 0.4vh red;
  text-align: center;
  font-weight: 600;
}

.mode-rules-header {
  font-weight: 600;
  text-align: center;
  margin: 2vh;
}

#mode-description {
  height: 60%;
  text-align: justify;
  padding: 2vh 4vh;
}
