:root {
  --main-red-color: #cb0e0e;
  --main-orange-color: #f49c14;
  --main-green-color: rgba(0, 255, 0, 1);
  /*--shadow-color: rgba(251, 251, 248, 0.8);*/
  --shadow-color2: rgb(136, 134, 134);
}

.quiz-progress {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.quiz-progress-lightsaber {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding-bottom: 1rem;
}

.quiz-progress-lightsaber__handle {
  width: 18vw;
  height: auto;
  margin-left: 5vw;
}

.quiz-progress-lightsaber__firebrand {
  position: relative;
  bottom: -0.06vw;
  height: 2.2vw;
  width: 100vw;
  border-radius: 1vw;
  background-color: var(--main-green-color);
  box-shadow: inset 0 0 10px #000000;
  margin: 0 5vw 0 -1.72vw;
}

.quiz-progress-lightsaber__animation {
  height: 100%;
}

.quiz-progress-countdown {
  font-size: 1.8vw;
  color: var(--main-orange-color);
  text-shadow: var(--main-red-color) 0 0 2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.quiz-progress-btn {
  /*position: absolute;*/
  /*bottom: 50vh;*/
  /*right: 50vw;*/
  /*width: 120px;*/
  /*height: 50px;*/
  /*border-radius: .5vw;*/
}

#start-animation {
  animation: progress-lightsaber-animation 120s linear alternate;
}

@keyframes progress-lightsaber-animation {
  0% {
    background-color: var(--main-green-color);
    width: 100%;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 50px 50px;
  }

  65% {
    background-color: var(--main-green-color);
    width: 35%;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 50px 50px;
  }
  70% {
    background-color: var(--main-red-color);
    width: 30%;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 50px 50px;
  }
  100% {
    background-color: var(--main-red-color);
    width: 0;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 50px 50px;
  }
}
